#samples-manager {
    align-items: stretch;
    top:         114px;
    position:    fixed;
    display:     flex;
    left:        0;
    right:       0;
    bottom:      0;
}

#samples-manager > #samples-folders-column {
    list-style-type: none;
    overflow-x:      hidden;
    flex:            0 0 20%;
    text-overflow:   ellipsis;
    border-right:    1px solid #888;
    background:      repeating-linear-gradient(
        180deg,
        #454545,
        #454545 40px,
        #656565 40px,
        #656565 80px
    )
}

#samples-manager > #samples-folders-column > li {
    line-height: 40px;
    font-size:   20px;
    color:       silver;
    padding:     0px 15px;
}

#samples-manager > #samples-folders-column > li > input {
    background-color: rgba(0, 0, 0, 0);
    position:         relative;
    color:            white;
    top:              -1px;
    border:           0px;
}

#samples-manager > #samples-folders-column > li span.unnamed {
    font-style: italic;
}

#samples-manager > #samples-folders-column > li:hover {
    text-shadow: 0px 0px 5px;
    cursor:      pointer;
}

#samples-manager > #samples-folders-column > li > i.badge-right {
    top:      9px;
    float:    right;
    position: relative;
}

#samples-manager > #samples-list {
    flex: 1 1 auto;
}

#no-sample-yet-box {
    margin:     auto;
    color:      white;
    width:      250px;
    margin-top: 100px;
    text-align: center;
}

#no-sample-yet-box i.ion {
    font-size:     150px;
    display:       block;
    margin-bottom: 15px;
}

#no-sample-yet-box span.caption {
    font-size: 20px;
}
